nav.navbar-fixed
  .nav-wrapper
    a.brand-logo(ui-sref='app.home') Android Generator
    ul#nav-mobile.right.hide-on-med-and-down
      li(ui-sref-active)
        a(ui-sref='app.viewcontroller') View Controller
      li(ui-sref-active)
        a(ui-sref='app.model') Model
